<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Calculator</title>
    <link rel="stylesheet" href="/static/calculator.css"> 
    <link rel="shortcut icon" type="image/jpeg" href="https://i.ibb.co/55Zxz5V/20240921-071634.jpg" sizes="72x72">
</head>
<body>
    <div class="container">
        <h2>Age Calculator</h2>
        <input type="date" id="dob" placeholder="Enter your date of birth">
        <button onclick="calculateAge()">Calculate Age</button>
        <div class="result" id="result"></div>
    </div>

    <script src="scripts/calculator.js"></script> 
</body>
</html>
